*{
	margin:0;
	box-sizing: border-box;
	text-align: center;
}

body{
	background-color: #191919;
}

/* sfondo bianco */
#songNameInput,
#findArtistBtn{
	background-color: white;
}

/* centro tutti */
#containerSong,
#imgAlbum,
#labelPunteggio{
	margin: auto;
	margin-top: 10px;
}

/* bold */
#topBar > #labelSongCounter > span,
#topBar > #labelPossibilita > span,
#labelPunteggio > span{
	font-weight: bold;
}

/* TOPBAR */
#topBar{
	height: 100px;
	width: 100%;
	position: fixed;
	top: 4%;	
	font-size: 25px;
	color:white;
	text-align: left;
}

#topBar:not(.visible){
	display: none;
}

#topBar > #labelSongCounter,
#topBar > #labelPossibilita{
	position: absolute;
	height: 50px;
	display: inline-block;
	right: 7%;
	font-weight: normal;
}

#topBar > #labelSongCounter{top: 5%}
#topBar > #labelPossibilita{top: 50%}

#labelPunteggio{
	font-size: 40px;
	width: 400px;
	height: 50px;
	color: white;
	margin-top: 50px;
}

/* COVER ALBUM */
#imgAlbum{
	height: 400px;
	width: auto;
	margin-top: 200px;
}

/* PULSANTI/INPUT */
#containerSong{
	position: relative;
	height: 70px;	
	width: 400px;
	z-index: 0;
}

#songNameInput{
	height: 100%;
	width: 70%;
	border: none;
	font-size: 25px;
	position: absolute;
	left: 0;
}

#songNameInput:focus,
#artistNameInput:focus{
	outline: solid 2px blue;
}

#submitBtn, 
#surrendBtn{
	height: 70%;
	width: 50px; 
	border-radius: 30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: border 1s;
}

#submitBtn{right: 15%}
#surrendBtn{right: 0}

#surrendBtn> i {color: red}
#submitBtn> i {color: green}

#surrendBtn> i,
#submitBtn > i{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 50%;
	bottom: 50%;
	font-size: 30px;
	transform: translate(50%, 50%);
	transition: color 0.5s;
}

#containerArtistInput{
	height: 80px;
	width: 250;
	position: absolute;
	left: 10%;
	top: 50%;
	transform: translateY(-50%);
}

#artistNameInput{
	width: 200px;
	height: 40px;
	border: none;
	border-radius: 10px;
}

#findArtistBtn{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	line-height: 40px;
	color: black;
	transition: width 0.1s;
	display: inline-block;
}

#findArtistBtn > i{
	font-size: 23px;
	color: green;
	transition: color 0.5s;
	margin: auto;
	position: relative;
	top: 3px;
}

#submitBtn>i:hover,
#findArtistBtn>i:hover{color: blue}

#videoPlayer{display: none;}

